.menu , a
{
	display:  inline-block;
	margin:  auto 20px;
	width:  10em;
	height:  20px;
	border:  1px solid #A5CFF7;
	border-radius:  5px;
	box-shadow: 1px 1px #000;
	text-align:  center;
	text-decoration:  none;
	color:  #8F9AA9;
}

li
{
	list-style: none;
	display: inline-block;
}
